<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twixxer login</title>
</head>
<body>
    <h1>See what's happening </h1>

    <div>
        <form action="/login" method="POST" class="form">
            <label>Email:</label>
            <input name="user_email" type="text" class="form-control" placeholder="email" required="required">
            <label>Password:</label>
            <input name="user_password" type="password" class="form-control" placeholder="password" required="required">
            <p>Passwod needs to be min 4 characters, and consist of lowercase or uppercase and digits</p>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <a href="/signup">Sign up here</a>
    </div>
</body>
</html>
