% include("header", title="Twixxer sign up")

<main>
    <div class="w-1/2 max-h-full flex">
        <div id="signupform" class="pt-80 pl-8" >
            <div class="mb-8">
                <h2 class="font-bold text-3xl">Join twixxer today</h2>
            </div>

            <form action="/signup" method="post" class="form">
                <input class="mt-1 ml-1 py-1 px-4 w-1/3 border focus:outline outline-offset-0 outline-blue" name="user_username" type="text" class="form-control" placeholder="Username" required="required">
                <input class="mt-1 ml-1 py-1 px-4 w-1/3 border focus:outline outline-offset-0 outline-blue" name="user_firstname" type="text" class="form-control" placeholder="Firstname" required="required">
                <input class="mt-1 ml-1 py-1 px-4 w-1/3 border focus:outline outline-offset-0 outline-blue" name="user_lastname" type="text" class="form-control" placeholder="Lastname" required="required">
                <input class="mt-1 ml-1 py-1 px-4 w-1/3 border focus:outline outline-offset-0 outline-blue" name="user_password" type="password" class="form-control" placeholder="Password" required="required">
                <input class="mt-1 ml-1 py-1 px-4 w-1/3 border focus:outline outline-offset-0 outline-blue" name="user_email" type="text" class="form-control" placeholder="Email" required="required" pattern='(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))'>
                <button class="py-2 px-4 w-40 bg-blue rounded-full" type="submit" class="text-gray-700 font-sans font-bold"><a class="text-gray-700 font-sans font-bold">Sign up</a></button>
            </form>

            <div class="max-w-xs">
                <p class="pt-2 text-xs ">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
            </div>
        </div>
    </div>

    <!--TODO: fix signup error. make the design pretty. maybe a pop up form? -->
    % if error:
    <h2>{{ error }}</h2>
    % end

</main>
